.currentPage {
    font-weight: bold;
}
.image {
    width:100px;
    border-radius: 50px;
}
.users {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.user {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.paginator {
    text-align: center;
}