.nav {
    grid-area: nav;
    margin-top: 25px;
    margin-left: 100px;
    text-align: center;
  }
  .item a{
    text-decoration: none;
    color: black;
  }
  .item a.active {
    color: gold;
  }